# Ignore .config.json file
config.json

# Ignore .env file
.env

# Ignore virtual environment
.venv/
venv/
env/

# Ignore data folder
exported_data/

# Ignore Python bytecode cache
__pycache__/

# Ignore IDE configs
.vscode/
.idea/